<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link href="http://localhost/uzduociuPlanuoklis/public/build/app.css" rel="stylesheet"/>
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

		<script src="http://localhost/uzduociuPlanuoklis/public/build/app.js" defer></script>
		
		<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<body>

		{% include 'menu.html.twig' %}
			<main class="py-4">
				{% if errors is defined and errors|length > 0 %}
					{% include 'msg/validation.html.twig' %}
				{% endif %}

				{% if success is defined and success|length > 0 %}
					{% include 'msg/success.html.twig' %}
				{% endif %}

				{% block body %}{% endblock %}
			</main>
		</body>
	</html>